/* styles/globals.css */
:root {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --primary-color: #bb86fc;
  --secondary-color: #03dac6;
  --border-color: #272727;
  --input-bg-color: #1d1d1d;
  --input-text-color: #e0e0e0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1, h2 {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 5px 0;
  background-color: var(--input-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type="text"], textarea, button {
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-left: 14px;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  margin-left: 24px;
}

button:hover {
  background-color: var(--secondary-color);
}
div {
  height: auto;
  width: 350px;
  background-color: #202020;
  border: 3px solid #202020;
  border-radius: 8px;

}
h1 {
  color: var(--primary-color);
  text-align: center;
}
h2 {
  color: var(--primary-color);
  text-align: center;
}
p {
  color: var(--primary-color);
  text-align: center;
}